version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Varun@2003
      MYSQL_DATABASE: crud_app
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pVarun@2003"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  backend:
    build: ./api
    container_name: backend-api
    restart: always
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: Varun@2003
      DB_NAME: crud_app
      JWT_SECRET: varunSuperSecretKey
      RESET_ADMIN_PASS: 'true'
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "5000:5000"

  frontend:
    build: ./client
    container_name: frontend-react
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:5000

volumes:
  mysql-data:
